<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CAFC Tracker - Part 2</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="container">
            <h1>CAFC Tracker</h1>
        </div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Case Name</th>
                    <th>Date Created</th>
                    <th>Page Count</th>
                    <th>View PDF</th>
                </tr>
            </thead>
            <tbody id="opinion-table-body"></tbody>
        </table>
    </div>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> -->
    <script>
        fetch("/static/cafc_opinions.json")
            .then(res => res.text())
            .then(data => {
                console.log(typeof (data));
                JSON.parse(data).forEach(opinion => {
                    document.getElementById("opinion-table-body").innerHTML += `
                        <tr>
                            <td><i>
                                ${opinion['case_name']}
                            </i></td>
                            <td>${new Date(opinion['date_created'])
                            .toLocaleDateString()
                        }</td>
                            <td>${opinion['page_count']}</td>
                            <td>
                                <a href="${opinion['download_url']}" class="btn btn-primary">
                                    View PDF
                                </a>
                            </td>
                        </tr>
                    `
                })
            })
    </script>
</body>

</html>